{% extends 'base_quiz_panel.html' %}
{% block title %}Payment Alternative{% endblock %}
{% block content %}
{% load static %}

<style>
.paydiv a, .paydiv li {
  color: var(--colorA);
  font-weight: 500;
}

.paydiv a:hover {
  font-weight: 550;
  color: var(--colorH);
  text-decoration: underline;
}
</style>

<h3 class="text-black mb-4">
  Payment Alternative
</h3>

<div class="container paydiv mt-5">
  {% if request.path == '/payment/' %}
  <ul class="mt-3">
    <li>
      <a href="/payment/users/">View All Users</a>
    </li>
    <li>
      <a href="/payment/class/">View Class-wise</a>
    </li>
  </ul>
  {% endif %}
</div>
{% endblock %}
