{% extends 'base_quiz_panel.html' %}

{% block title %}
  Add Quiz
{% endblock title %}

{% block content %}
<style>
  .control-group {
    margin-top: 1rem;
    padding: 0.5rem;
  }

  .control-label {
    font-weight: bold;
  }

  .asteriskField {
    color: red;
    font-weight: bolder;
    margin-left: 0.1rem;
  }

  .controls input, select {
    border-radius: 0.5rem;
    padding: 0.3rem;
    border: 1px solid black;
  }

  @media only screen and (max-width: 1000px) {
    .container, .nav-item {
      max-width: 100%;
    }
  }
</style>

<div>
  <h3 class="text-black">
    Add Quiz
  </h3>
  <div class="mt-4 text-black">
    {% load crispy_forms_tags %}
    <form action="#" method="post">
      {% csrf_token %} 
      {{ form |crispy }}
      <input class="btn btn-success mt-4" type="submit" value="Submit">
    </form>
  </div>
</div>
{% endblock content %}
