{% extends 'base_quiz_panel.html' %}

{% load static %}
{% block title %} Student Information {% endblock title %}

{% block content %}
<style>

.tableprofile th, tr, td {
  padding: 0.6rem;
  border-radius: 25px;
}

#result-table tr {
  vertical-align: middle;
}

#tableid {
  transition: display 1s ease;
}

#result-summary {
  display: none;
}

.hide {
  display: none;
}
</style>

<div class="student-info-div">
  <h3 class="text-black">{{ result_table.0.user }} Overview</h3>
  <hr>
  <div class="tableprofile">
    <h5 class="text-black">General</h5>
    <table class="text-black">
      <tr>
        <th>Name </th>
        <td> {{ result_table.0.user.first_name }} {{result_table.0.user.last_name}}</td>
      </tr>
      <tr>
        <th>Username</th>
        <td>{{ result_table.0.user }}</td>
      </tr>
      <tr>
        <th>Std </th>
        <td> {{result_table.0.profile.std}}</td>
      </tr>
      <tr>
        <th>Tests Given</th>
        <td>{{ result_table|length }}</td>
      </tr>
      <tr>
        <th>Subjects Allowed</th>
        {% for subject in subjects_allowed %}
          <td>
            {{ subject }}
          </td>
        {% endfor %}
      </tr>
      <tr>
        <th>Subjects Available</th>
        {% for subject in std_subjects %}
          <td>
            {{ subject }}
          </td>
        {% endfor %}
      </tr>
    </table>
  </div>
  <hr>
  <div class="result-table">
    <h5 class="text-black">Results</h5>
    <table class="table table-hover" id="result-table">
      <th>Sr. No.</th>
      <th>Subject</th>
      <th>Quiz</th>
      <th>Score</th>
      <th>Date & Time</th>
      {% for result in result_table %}
        <tr>
          <td>
            <span>{{ forloop.counter }}</span>
          </td>

          <td>
            <span>{{ result.quiz.subject }}</span>
          </td>

          <td>
            <span id="hidden-summary" class="hide">{{ result.result_summary }}</span>
            <a onclick="showSummary({{ result.result_summary }})"
              class="btn btn-outline-primary" 
              data-summary='{{ result.result_summary }}'>
              {{ result.quiz }}
            </a>
          </td>

          <td>
            <span>{{ result.score }}</span>
          </td>

          <td>
            <span>{{ result.date }}</span>
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>

  <div class="result-summary my-1">
    <table class="text-black table" id="result-summary">
      <th>Question</th>
      <th>Answered</th>
      <th>Correct Answer</th>
    </table>
  </div>
  <hr>

</div>
<script>
  // show result summary onclick

  function showSummary(summary) {
    var spanTag = document.getElementById('hidden-summary');
    console.log('span tag: ', spanTag, typeof(spanTag));
    if (summary == "None" || summary == "") {
      console.log('yasss')
    }
    else {
      result_summary_tag = document.getElementById('result-summary');
      result_summary_tag.style.display = 'block';
      result_summary_tag.innerHTML = 
      `
      <th>Question</th>
      <th>Answered</th>
      <th>Correct Answer</th>
      `;
      for (key in summary) {
        result_summary_tag.innerHTML += 
        `
        <tr>
          <td>
            `
              + key + 
            `
          </td>
          <td>
            `
              + summary[key].answered + 
            `
          </td>
          <td>
            `
              + summary[key].correct_answer + 
            `
          </td>
        </tr>
        `
      }
    } 
    console.log('data: ', summary);
    console.log('data type: ', typeof(summary));
  }  
</script>
{% endblock %}