{% extends 'base_quiz_panel.html' %}
{% load static %}

{% block title %}
  View Subjects
{% endblock title %}

{% block content %}
<style>

tr th:first-child, td:first-child {
  width: 7rem;
}

</style>

<!--Table invert using jQuery-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'custom-admin/js/common.js' %}"></script>
<script>
  function toggleView() {
    $("#tableid").each(function () {
      var $this = $(this);
      var newrows = [];
      $this.find("tr").each(function () {
        var i = 0;
        $(this).find("td,th").each(function () {
          i++;
          if (newrows[i] === undefined) {
            newrows[i] = $("<tr></tr>");
          }
          newrows[i].append($(this));
        });
      });
      $this.find("tr").remove();
      $.each(newrows, function () {
        $this.append(this);
      });
    });
    return false;
  }
  window.onload = toggleView;
</script>

<h3 class="text-black mb-4">
  View Subjects
</h3>

<form action="/panel/view-subjects/confirm-delete/" method="post">
  <div class="displayDelete" id="displayDelete">
    <input class="btn btn-outline-danger mb-3" type="submit" value="Delete Selected">
  </div>

<table class="table table-hover" id="tableid">
  <tr>
    <th><input id="select-all" onclick="toggle(); display();" type="checkbox"> Select All</th>
    {% for subject in subjects %}
      <td>
        <input type="checkbox" name="{{subject}}" class="check-box" onclick="display()">
      </td>
    {% endfor %}
  </tr>
</form>

  <tr>
    <th>Sr. No.</th>
    {% for i in subjects %}
    <td>
      <span>{{ forloop.counter }}</span>
    </td>
    {% endfor %}
  </tr>

  <tr>
    <th>Class</th>
    {% for subject in subjects %}
      <td>
        <span>{{ subject.std }}</span>
      </td>
    {% endfor %}
  </tr>

  <tr>
    <th>Subject ID (#)</th>
    {% for subject in subjects %}
      <td>
        <span>{{ subject.id }}</span>
      </td>
    {% endfor %}
  </tr>

  <tr>
    <th>Subject Name</th>
    {% for subject in subjects %}
      <td>
        <span>{{ subject.name }}</span>
      </td>
    {% endfor %}
  </tr>

  <tr>
    <th>Edit</th>
    {% for subject in subjects %}
      <td>
        <form action="/panel/view-subjects/modify/" method="post">
          {% csrf_token %}
          <input type="hidden" name="subjectID" value="{{ subject.id }}">
          <input class="btn btn-success" type="submit" value="Edit">
        </form>
      </td>
    {% endfor %}
  </tr>

</table>

<script>
function display()
{
  elements = document.querySelectorAll('.check-box');
  for (var i = 0; i <= elements.length + 1 ; i++)
  {
    document.getElementById('displayDelete').style.display = 'block';
    console.log(elements[i].checked)
    if (elements[i].checked)
    {
      document.getElementById('displayDelete').style.display = 'block';
    }
  }
}
</script>

{% endblock content %}