{% extends 'base_quiz_panel.html' %}

{% block title %}
  View Subjects
{% endblock title %}

{% block content %}

<!--Table invert using jQuery-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
  function toggleView() {
    $("#tableid").each(function () {
      var $this = $(this);
      var newrows = [];
      $this.find("tr").each(function () {
        var i = 0;
        $(this).find("td,th").each(function () {
          i++;
          if (newrows[i] === undefined) {
            newrows[i] = $("<tr></tr>");
          }
          newrows[i].append($(this));
        });
      });
      $this.find("tr").remove();
      $.each(newrows, function () {
        $this.append(this);
      });
    });
    return false;
  }
  window.onload = toggleView;

</script>

<h3 class="text-black mb-4">
  View Quizes
</h3>

<table class="table table-hover" id="tableid">
  <tr>
    <th>Sr. No.</th>
    {% for i in quizes %}
    <td>
      <span>{{ forloop.counter }}</span>
    </td>
    {% endfor %}
  </tr>

  <tr>
    <th>Class</th>
    {% for quiz in quizes %}
      <td>
        <span>{{ quiz.subject.std }}</span>
      </td>
    {% endfor %}
  </tr>

  <tr>
    <th>Subject Name</th>
    {% for quiz in quizes %}
      <td>
        <span>{{ quiz.subject.name }}</span>
      </td>
    {% endfor %}
  </tr>

  <tr>
    <th>Quiz ID (#)</th>
    {% for quiz in quizes %}
      <td>
        <span>{{ quiz.id }}</span>
      </td>
    {% endfor %}
  </tr>

  <tr>
    <th>Quiz Name</th>
    {% for quiz in quizes %}
      <td>
        <span>{{ quiz }}</span>
      </td>
    {% endfor %}
  </tr>

  <tr>
    <th>Edit</th>
    {% for quiz in quizes %}
      <td>
        <form action="/panel/view-quizes/modify/" method="post">
          {% csrf_token %}
          <input type="hidden" name="quizID" value="{{ quiz.id }}">
          <input class="btn btn-success" type="submit" value="Edit">
        </form>
      </td>
    {% endfor %}
  </tr>

</table>


{% endblock content %}