asgiref==3.5.0
dj-database-url==0.5.0
Django==4.0.2
django-crispy-forms==1.14.0
django-social-share==2.2.1
djangorestframework==3.13.1
gunicorn
psycopg2==2.9.5
pytz==2022.2.1
sqlparse==0.4.2
tzdata==2021.5
whitenoise==6.0.0
