{% extends 'base.html' %} {% load static %} 
{% block title %} Dashboard
{% endblock title %} {% block content %}

<!-- Begin Page Content -->
<div class="container-fluid">
  <!-- Content Row -->
  <div class="row">
    <!-- Earnings (Monthly) Card Example -->
    {% for detail in details %}
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div
                class="
                  text-xs
                  font-weight-bolder
                  text-primary text-propercase
                  mb-1
                ">
                {{ detail }}
              </div>
              {% if forloop.counter0 == 0 %}
                <div class="h5 mb-0 font-weight-bold ">{{ top_scores.0|floatformat:"2" }}</div>
                <p class="text-xs mt-1 font-weight-bold text-dark">{{ top_users_quizname.0 }}</p>
              {% endif %}

              {% if forloop.counter0 == 1 %}
                <div class="h5 mb-0 font-weight-bold ">{{ top_scores.1|floatformat:"2" }}</div>
                <p class="text-xs mt-1 font-weight-bold text-dark">{{ top_users_quizname.1 }}</p>
              {% endif %}

              {% if forloop.counter0 == 2 %}
                <div class="h5 mb-0 font-weight-bold ">{{ top_scores.2|floatformat:"2" }}</div>
                <p class="text-xs mt-1 font-weight-bold text-dark">{{ top_users_quizname.2 }}</p>
              {% endif %}

              {% if forloop.counter0 == 3 %}
                <div class="h5 mb-0 font-weight-bold ">{{ top_scores.3|floatformat:"2" }}</div>
                <p class="text-xs mt-1 font-weight-bold text-dark">{{ top_users_quizname.3 }}</p>
              {% endif %}
            </div>
            
            <div class="col-auto">
              <i class="fas fa-calendar fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <hr>
  
  <h4 class="text-dark ml-2 mt-2">Subjects</h4>
  <div class="row mt-1">
    {% if allowedSub %}
      {% for subject in allowedSub %}
        <div class="col-xl-2 col-md-6 p-3"> 
          <div class="card shadow p-3">
            <a href = "/question/show/{{subject.pk}}/" name = "{{subject}}">{{subject}}</a>
          </div>
        </div>
      {% endfor %}
    {% endif %}

    <!--Blur this content-->
    {% if notAllowedSub %}
    <div class="col-xl-2 col-md-6 p-3">
      <div class="card shadow p-3 text-center">
        <a href = "/question/subject/">
          <i class="fas fa-long-arrow-alt-right"></i>
          <br>
          View All Subjects
        </a>
      </div>
    </div>
    {% endif %}
  </div>
  <hr>
  
  <!-- Content Row -->
  <div class="row">
    <!-- Area Chart -->
    <div class="col-xl-8 col-lg-7">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div
          class="
            card-header
            py-3
            d-flex
            flex-row
            align-items-center
            justify-content-between
          "
        >
          <h6 class="m-0 font-weight-bold text-primary">
            Progress (Last 10 Quizes)
          </h6>
          <div class="dropdown no-arrow">
            <a
              class="dropdown-toggle"
              href="#"
              role="button"
              id="dropdownMenuLink"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
            <div
              class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
              aria-labelledby="dropdownMenuLink"
            >
              <div class="dropdown-header">Dropdown Header:</div>
              <a class="dropdown-item" href="#"></a>
              <a class="dropdown-item" href="#"></a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#"></a>
            </div>
          </div>
        </div>
        <!-- Card Body Chart -->
        <div
          class="card-body mb-4"
          style="height: max-content;">
          {% if y %}
          <div class="chart-area" style="height: max-content;">
            <canvas id="myChart"></canvas>
            <script
              src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.2/chart.js"
              integrity="sha512-7Fh4YXugCSzbfLXgGvD/4mUJQty68IFFwB65VQwdAf1vnJSG02RjjSCslDPK0TnGRthFI8/bSecJl6vlUHklaw=="
              crossorigin="anonymous"
              referrerpolicy="no-referrer"
            ></script>

            <script>
                  const ctx = document.getElementById('myChart').getContext('2d');
              const myChart = new Chart(ctx, {
                  type: 'line',
                  data: {
                      labels: [{% for item in y %}'{{item}}',{% endfor %}],
                      datasets: [{
                          label: '% of Marks',
                          data: [{% for item in x %}{{item}},{% endfor %}],
                          backgroundColor: [
                              'rgba(255, 99, 132, 0.2)',
                              'rgba(54, 162, 235, 0.2)',
                              'rgba(255, 206, 86, 0.2)',
                              'rgba(75, 192, 192, 0.2)',
                              'rgba(153, 102, 255, 0.2)',
                              'rgba(255, 159, 64, 0.2)'
                          ],
                          borderColor: [
                              'rgba(255, 99, 132, 1)',
                              'rgba(54, 162, 235, 1)',
                              'rgba(255, 206, 86, 1)',
                              'rgba(75, 192, 192, 1)',
                              'rgba(153, 102, 255, 1)',
                              'rgba(255, 159, 64, 1)'
                          ],
                          borderWidth: 1
                      }]
                  },
                  options: {
                      scales: {
                          y: {
                              beginAtZero: true
                          }
                      }
                  }
              });
            </script>
          </div>
          {% else %}
          <div class="chart-area">
            You have not given any test yet
          </div>
          {% endif %}
        </div>
      </div>
    </div>
    
  </div>
</div>
<!-- /.container-fluid -->
{% endblock content %}
