{% extends 'base.html' %}
{% load static %}
{% block title %} Profile {% endblock title %}
{% block content %}

  <style>

    .tableprofile table {
      color: black;
    }

    .tableprofile th, tr, td {
      padding: 0.6rem;
      border-radius: 25px;
    }

    #textR {
      display: none;
    }
  </style>
<div class="text-dark ml-4 color-black">
  <br>
  <p class="font-weight-bold">Profile</p>
  <div class="tableprofile">
    <table>
      <tr>
        <th>Name </th>
        <td> {{ request.user.first_name }} {{request.user.last_name}}</td>
      </tr>
      <tr>
        <th>Username</th>
        <td>{{ request.user }}</td>
      </tr>
      <tr>
        <th>Std </th>
        <td> {{std}}</td>
      </tr>
    </table>
  </div>
  <br>
  <hr>
  <div class="my-3">
    <p class="font-weight-bold">Password</p>
    <a href="/set_password/{{request.user.id}}" class="btn btn-primary">Change Password</a>
  </div>
  <br>
  <hr>
  <div class="my-3">
    <p class="font-weight-bold custom">Refer to a Friend</p> 
    <button class="btn btn-primary" id="btnR" onclick="showref()">Get your referral code</button> 
    <span class="custom" id="textR">{{ profile }}</span>
  </div>
  <br>
  <hr>
  <div class="my-3">
    <p>If you wish to change your class, send an email to admin at <a href="mailto:webstar8000@gmail.com">webstar8000@gmail.com</a></p>
  </div>
  <br>
</div>
<script>
  function showref() {
    document.getElementById('btnR').style.display = "none";
    document.getElementById('textR').style.display = "block";
  }
</script>


{% endblock content %}