{% extends 'landing/base_out.html' %}
{% load static %}
{% block title %}
  Login
{% endblock %}

{% block content %}
<style>
  p label {
    font-weight: bolder;
  }
  p input {
    border-radius: 0.5rem;
    padding: 0.2rem;
  }

  .errorlist {
    color: red;
  }

  @media only screen and (max-width: 1000px) {
    .col-xl-10 .my-5 {
      margin-top: 0rem!important;
    }
  }
</style>
 
<div class="container">
  <!-- Outer Row -->
  <div class="row justify-content-center">
    <div class="col-xl-10 col-lg-12 col-md-9">
      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
            <div class="col-lg-6 d-none d-lg-block">
              <img src="{% static 'regester/images/quiz_img_login.png' %}" style="width:100%;">
            </div>
            <div class="col-lg-6">
              <div class="p-5">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-4">Welcome to Quiz App</h1>
                </div>
                <div class="p-4 text-xl-center">
                  <form action="/login/" method="POST">
                    {% csrf_token %} {{form.as_p}}
                    <input type="submit" value="Login" class="btn btn-primary btn-userbtn-block" />
                  <br>
                </div>
                </form>
                <hr />
                <div class="text-center">
                  <a class="small" href="/reges">Create an Account!</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
