*
{
    padding: 0;
    margin: 0; 
    font-family: sans-serif;  
    font-size: 1.6rem;
    list-style: none;
    text-decoration: none;
    user-select: none;
} 

html
{
    font-size: 9px; 
    /* it is relative unit means 1rem = 9px*/
}

.fa
{
    color: #33cc33;
}
 
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(bg2.jpg);
    background-size: cover;
    background-position: center; 
}

.container
{
    display: grid;
    grid-template-columns: .6fr 1fr 1fr 1fr;
    grid-template-rows: .2fr .2fr .4fr .6fr .3fr;
    grid-template-areas: "navbar navbar navbar navbar"
                         "sidebar header header header"
                         "sidebar card1 card2 card3"
                         "sidebar graph graph debitcard"
                         "sidebar card4 card5 card6";
                         grid-gap: 1rem;
                         padding: 2rem;
    width: 90%;
    min-height: 85vh;
    background: rgb(137, 129, 202);
    /* background: linear-gradient(to top right, rgba(255,255,255,.5), rgba(255,255,255,.5)); */
    border-radius: 1.4rem;
}

.container .bg
{
    background: linear-gradient(to top right, rgba(255,255,255,.4), rgba(255,255,255,.5));
    border-radius: 1.4rem;
} 

.container .card
{
    transition: .3s;
}

.container .card:hover
{
    background: #000;
    color: #fff;
}

.container .card:hover .fa
{
    color: #fff;
}

.navbar
{
    grid-area: navbar;
}

.sidebar
{
    grid-area: sidebar;
}

.header
{
    grid-area: header;
}

.card1
{
    grid-area: card1;
}

.card2
{
    grid-area: card2;
}

.card3
{
    grid-area: card3;
}

.graph
{
    grid-area:graph;
}

.debitcard
{
    grid-area: debitcard;
}

.card4
{
    grid-area: card4;
}

.card5
{
    grid-area: card5;
}

.card6
{
    grid-area: card6;
} 

/* navbar css start*/
    .container .navbar
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: .8rem 2.5rem;
        margin-top: .8rem;
    }

    .container .navbar .logo
    {
        display: flex;
        align-items: center;
    }

    .container .navbar .logo .logoname
    {
        font-size: 1.8rem;
        margin-left: 1rem;
        text-shadow: 1px 1px 1px rgba(16,16,16,.1),
                     1px 2px 1px rgba(16,16,16,.1),
                     1px 3px 1px rgba(16,16,16,.1),
                     1px 4px 1px rgba(16,16,16,.1),
                     1px 5px 1px rgba(16,16,16,.1);
    }

    .container .navbar .logo img
    {
        width: 4rem;
        animation: rotate 8s linear infinite;
        border-radius: 50%;
    }

    @keyframes rotate
    {
        from
        {
            transform: rotate(-360deg);
        }
    }
    
    .navbar .searchbox
    {
        position: relative;
    }

    .navbar .searchbox input
    {
        padding: .8rem 12rem .8rem 2rem;
        border: none;
        outline: none;
        border-radius: 3rem;
        transition: .3s; 
    }

    .navbar .searchbox input:focus
    {
        background: #000;
        color: #fff;
        padding: .8rem 23rem .8rem 2rem;
    }
 

    .searchbox input:focus::-webkit-input-placeholder {
        color: #fff;
    }

    .navbar .searchbox .fa
    {
        position: absolute;
        top: 1rem;
        right: 1rem;
    }

    .navbar .navitem
    {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navbar .navitem .icons
    {
        position: relative;
        right: 1.5rem;
    }

    .navbar .navitem .icons ul li
    {
        position: relative;
        display: inline-block;
        font-size: 1.6rem;
        margin: 0 1.2rem;
    }

    .navbar .navitem .icons ul li .fa
    {
        padding: .5rem;
        color: #fff;
        background: #000;
        border-radius: 50%;
        transition: .3s;
    }

    .navbar .navitem .icons ul li .fa:hover
    {
        transform: scale(1.2) rotate(360deg);
        color: #33ccff;
        background: transparent;
    }

    .navbar .navitem .account
    {
        position: relative;
        display: flex;
        align-items: center;
    }

    .navbar .navitem .account img
    {
        border-radius: 50%;
    }

    .navbar .navitem .account .name
    {
        text-transform: capitalize;
        /* margin: 0 5.5rem; */
        font-weight: 700;
    }

    .navbar .navitem .account .username
    {
        position: absolute;
        top: 3rem;
        /* left: 4rem; */
        font-size: 1.2rem;
        color: rgb(61,56,56);
    }
/* navbar css end*/

/*SIDEBAR CSS START*/
    .sidebar
    {
        padding: 2rem;
    }

    .sidebar .fa
    {
        color: #000;
        font-size: 1.8rem;
        padding: .5rem;
    }
    
    .sidebar ul li
    {
        padding: .4rem;
        margin: 1rem 0;
        border-radius: .8rem;
    }

    .sidebar ul li a
    {
        color: #000;
        text-transform: capitalize;
        font-weight: 700;
    }

    .sidebar ul li:hover
    {
        background: #00004d;
    }

    .sidebar ul li:hover a
    {
        color: #fff;
    }

    .sidebar ul li:hover .fa
    {
        color: #fff;
    }

    .sidebar ul .dashboard
    {
        background: #00004d;
        color: #fff;
    }

    .sidebar ul .dashboard a
    {
        color: #fff;
    }

    .sidebar ul .dashboard .fa
    {
        color: #fff;
    }
/*SIDEBAR CSS END*/

/*HEADER CSS START*/
    .header
    {
        position: relative;
    }

    .header .tittle
    {
        position: absolute;
        top: 1rem;
        left: 2rem;
    }

    .header .tittle h2
    {
        text-transform: capitalize;
        font-weight: 700;
        font-size: 1.6rem;
    }

    .header .tittle h1
    {
        font-size: 2.5rem;
        font-weight: normal;
    }
/*HEADER CSS END*/

/*ROW-1 CARDS CSS START*/
.row-1
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.row-1 .box
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.row-1 .box .logo
{
    padding: 2rem 2.4rem;
    border-radius: 50%;
    box-shadow:  -3px -3px 3px #cbced1,
                 -3px -3px 3px #ffffff;
}

.row-1 .box .logo .fa
{
    font-size: 3rem;
}

.row-1 .box .content
{
    margin-left: 1.5rem;
}

.row-1 .box .content h2
{
    font-size: 3rem;
    font-weight: 500;
    margin: .5rem 0;
}

.row-1 .box .content a{
    font-size: 1.2rem;
    color: #33cc33;
}
/*ROW-1 CARDS CSS END*/

/*DEBIT-CARD CSS*/
.debitcard img
{
    border-radius: 22px;
}
/*DEBIT-CARD CSS*/ 

/*GRAPH CSS START*/
.graph
{
    position: relative; 
}

.graph .chart
{
    width: 100%;
    border-radius: 1.4rem; 
}

.chart .status
{
    position: absolute;
    top: 5rem;
    left: 12rem;
    text-transform: capitalize;
    font-weight: 700;
}

.chart ul
{
    position: absolute;
    bottom: 4rem;
    left: 6rem;
}

.chart ul li
{
    padding: .3rem 0;
    text-align: center;
    font-size: 1.2rem;
    font-family: sans-serif;
}

.chart .box li
{
    position: absolute;
    bottom: 4.5rem;
    width: 2rem;
    height: 8rem;
    border-radius: .8rem;
    box-shadow: 13px 13px 20px #cbced1,
                -13px -13px 20px #ffffff;
}

.chart .box li:nth-child(1)
{
    left: 12rem;
}

.chart .box li:nth-child(2)
{
    left: 19rem;
}

.chart .box li:nth-child(3)
{
    left: 26rem;
}

.chart .box li:nth-child(4)
{
    left: 34rem;
}

.chart .box li:nth-child(5)
{
    left: 42rem;
}

.chart .box li:nth-child(6)
{
    left: 50rem;
}

.chart .box li .text
{
    position: absolute;
    bottom: -2.5rem;
    left: -.5rem;
    width: 8rem;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-family: sans-serif;
}

.chart .box li:before
{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #33cc33;
    border-radius: .6rem;
    animation: bar 10s linear infinite;
    animation-delay: calc(-2s*var(--i));
}

@keyframes bar
{
    0%
    {
        height: 80%;
        filter: hue-rotate(180deg);
    }

    50%
    {
        height: 0;
    }

    100%
    {
        height: 80%;
        filter: hue-rotate(0);
    }
}
/*GRAPH CSS END*/

/*ROW-2 CARDS CSS START*/
.row-2
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.row-2 .box
{
    display: flex;
    align-items: center;
}

.row-2 .box .logo
{
    padding: 2rem 2.5rem;
}

.row-2 .box .logo .fa
{
    font-size: 3rem;
}

.row-2 .box .content h1
{
    font-size: 2.2rem;
    font-weight: 500;
}
/*ROW-2 CARDS CSS END*/

/* RESPONSIVE TEMPLATES DESIGN START FROM HERE*/   
@media screen and (max-width: 1024px)
{
    html
    {
        font-size: 8.5px;
    }
}

@media screen and (max-width: 920px)
{
    html
    {
        font-size: 8px;
    }
}

@media screen and (max-width: 840px)
{
    html
    {
        font-size: 7px;
    }
}

@media screen and (max-width: 768px){
     
    html
    {
        font-size: 9px;
    }

   

    .container
{
    background: transparent;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .2fr .2fr .3fr .6fr .6fr .6fr .8fr .2fr .4fr .4fr .4fr;
    grid-template-areas: "navbar"
                         "sidebar"
                         "header"
                         "card1"
                         "card2"
                         "card3"
                         "graph"
                         "debitcard"
                         "card4"
                         "card5"
                         "card6";   
                        }

                        .container .navbar
                        {
                            display: flex;
                            flex-direction: column;
                            gap: 2.5rem;
                        } 

                        .toggle
                        {
                            display: none;
                        }

                        .dashboard
                        {
                            position: relative;
                        }

                        .togglebtn
                        {
                            position: absolute;
                            top: .2rem;
                            right: .2rem;
                            width: 3.3rem;
                            height: 3.3rem;
                            background: #000;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }

                        .togglebtn:before
                        {
                            content: '';
                            position: absolute;
                            width: 2rem;
                            height: .2rem;
                            background: #fff;
                            transform: translateY(-6px);
                            box-shadow: 0 6px 0 #fff;
                            transition: .3s;
                        }

                        .togglebtn.active:before
                        {
                            transform: translateY(0) rotate(40deg);
                            box-shadow: 0 0 0 #fff;
                        }

                        .togglebtn:after
                        {
                            content: '';
                            position: absolute;
                            width: 2rem;
                            height: .2rem;
                            background: #fff;
                            transform: translateY(6px); 
                            transition: .3s;
                        }

                        .togglebtn.active:after
                        {
                            transform: translateY(0) rotate(-40deg); 
                        }

                        .graph
                        {
                            overflow: scroll;
                        }

}

@media screen and (max-width: 385px){
     
    html
    {
        font-size: 8px;
    }

    .chart .status
    { 
        top: 2rem;
    }
}

@media screen and (max-width: 340px){
     
    html
    {
        font-size: 7px;
    }
}
