{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quiz App All Links</title>

  <link rel="icon" href="{% static 'images/quiz_icon.png' %}">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" 
  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<style>
.custom-bg {
  background-color: purple;
}
</style>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark custom-bg" style="height: 4rem;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    </div>
  </nav>

  <div class="container mt-5">
    <h3>Quiz App All Links</h3>
    <ul class="mt-3">
      <li>
        <a href="/attendance/class/" target="_blank">Attendance Dashboard</a>
      </li>
      <li>
        <a href="/panel/" target="_blank">Custom Admin Panel</a>
      </li>
      <li>
        <a href="/admin/" target="_blank">Django Admin</a>
      </li>
      <li>
        <a href="/payment/" target="_blank">Payment Alternative</a>
      </li>
      <li>
        <a href="/" target="_blank">Quiz Web App Home</a>
      </li>
    </ul>
  </div>

  <!-- Footer -->
  <footer class="page-footer custom-footer font-small text-white pt-4 custom-bg fixed-bottom">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">
        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3">

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

          <!-- Links -->
          <!-- <h5 class="text-uppercase">Quick Links</h5>

          <ul class="list-unstyled">
            <li>
              <a href="/attendance/class/">Attendance Dashboard</a>
            </li>
            <li>
              <a href="/">Quiz Web App Home</a>
            </li>
          </ul> -->

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

          <!-- Links -->
          <!-- <h5 class="text-uppercase">Links</h5>

          <ul class="list-unstyled">
            <li>
              <a href="#!">Link 1</a>
            </li>
            <li>
              <a href="#!">Link 2</a>
            </li>
            <li>
              <a href="#!">Link 3</a>
            </li>
            <li>
              <a href="#!">Link 4</a>
            </li>
          </ul> -->

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">Copyright &copy; 
      <a href="/" class="text-white"> Quiz App</a> 2021
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->
</body>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</html>